<footer>
    <div class="links">
        {% for link in footer.links %}
            <a href="{{ link.url }}"
                target="{{ link.target }}"
                rel="noreferrer">{{ link.label }}</a>
        {% endfor %}
    </div>
    <div class="eleventy">
        💻 avec 🖤 & <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer">11ty.dev</a>
    </div>
</footer>
