<header>
    <nav>
        {% for link in nav %}
            <a href="{{ link.url }}"
                target="{{ link.target }}"
                id="{{ link.id }}"                
                accesskey="{{ link.accesskey }}"
                rel="noreferrer">
                {% if link.img|length %}
                    <img src="{{ link.img.path }}"
                        alt="{{ link.img.alt }}"
                        width="{{ link.img.width }}"
                        height="{{ link.img.height }}"/>
                {% endif %}
                {{ link.label }}
            </a>
        {% endfor %}
    </nav>
</header>
