<div class="metadata">
    <span>Créé le {{ created | localdate }}</span>
    {% if modified %}
    - <span>Modifié le {{ modified | localdate }}</span>
    {% endif %} 
</div>
{% if tags|length %}
<div class="metadata">
    <span>Tag(s) : </span>
    {% for tag in tags %}
        {% include "tag.njk" %}    
    {% endfor %}
</div>
{% endif %}