---
title: Articles
permalink: posts/
layout: page.njk
---
{% if collections.postList.length > 0 %}
    {% for post in collections.postList | reverse %}
        {% include "post-summary.njk" %}
    {% endfor %}
{% else %}
    Coming soon...
{% endif %}
