{% extends "base.njk" %}
{% block main %}
<main class="home">
    <div class="presentation">
        <div>
            <h1>Bonjour, je suis Florent A.</h1>
            <p>Vous pouvez aussi me croiser sous le pseudonyme <code>hex46</code>.</p>
            <p>Je suis un petit développeur orienté back ayant des appétences pour l'univers Java et JavaScript.
            Il m'arrive aussi de tester des souris et claviers étranges. </p>
        </div>
        <img src="{{ metadata.avatar }}" alt="Mon avatar."/>
    </div>
    <div class="lastPost">
        <span class="lastPostTitle">Dernier article :</span>
            {% if collections.postList.length > 0 %}
                {% for post in collections.postList | reverse | limit(1) %}
                    {% include "post-summary.njk" %}
                {% endfor %}
            {% else %}
                Coming soon...
            {% endif %}
    </div>
</main>
{% endblock %}