---
permalink: articles.html
---
{% extends "base.njk" %}
{% block main %}
<main>
    <h1>Articles</h1>
    {% if collections.posts.length > 0 %}
        {% for post in collections.posts | reverse %}
            {% include "post.njk" %}
        {% endfor %}
    {% else %}
        Coming soon...
    {% endif %}
</main>
{% endblock %}
