$light-text-color: #111111;
$light-background-color: #F4F4F4;
$light-link-color: #88C0D0;

$dark-text-color: #FFFFFF;
$dark-background-color: #242629;
$dark-link-color: #88C0D0;

$border-post-color: #3C3F49;
$hover-color: #EBCB8B;