footer {
    margin-top: 4em;
    padding: 0.5em 0em 0.5em 0;
    text-align: center;

    @media (min-width: 900px) {
        @include flex-row;
        justify-content: space-between;
    }
}

.links  {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0.75em;
    
    @media (min-width: 900px) {
        justify-content: space-between;
        width: 350px;
    }
}