html {
    @include sizeHW(100%, 100vw);
    @include normalize-mp;
    @include theme($light-text-color, $light-background-color, $light-link-color);
    font-family: Inter, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;

    &.dark {
      @include theme($dark-text-color, $dark-background-color, $dark-link-color);
    }
}

body {
    @include container;
    @include flex-column;
}

h1, h2 {
    @include normalize-mp;
}

h1 {
    margin-bottom: 1.25em;
}

main {
    flex: 1;
}

a[href^="http"]::after {
    background-image: url(/img/external-link.svg);
    background-size: contain;
    content:"";
    display: inline-block;
    vertical-align: sub;
    padding-left: 0.1em;

    @include sizeHW(1em, 1em);
}

hr {
    color: #4c566a;
}

code:not([class^="lang"]) {
    padding: 0.1em 0.25em;
}
