$light-text-color: #111111;
$light-background-color: #F4F4F4;

$dark-text-color: #CCCCCC;
$dark-background-color: #262626;

$visited-color: #737e9b;

@mixin theme($text-color, $background-color) {
    background-color: $background-color;
    color: $text-color;

    a {
        color: $text-color;

        &:visited {
            color: $visited-color;
        }

        &#home-link:visited {
            color: $text-color;
        }
    }

    footer {
        border-top: 3px solid $text-color;
    } 
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin sizeHW($height, $width) {
    height: $height;
    width: $width;    
}

@mixin container {
    @media (min-width: 1400px) {
        width: 1100px;
    }
    
    @include sizeHW(100%, 80%);
    margin: auto;
}

@mixin normalize-mp {
    margin: 0;
    padding: 0;
}

html {
    @include sizeHW(100%, 100%);

    font-family: Inter, sans-serif;
    line-height: 1.5;
    
    @include normalize-mp;
    @include theme($light-text-color, $light-background-color);

    &.dark {
      @include theme($dark-text-color, $dark-background-color);
    }
}

body {
    @include container;
    @include flex-column;
}

h1, h2 {
    @include normalize-mp;
}

main {
    flex: 1;
}

header {
    margin: 40px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    margin-top: 2em;

    @media (max-width: 725px) {
        flex-direction: column;
    }

    .links {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        width: 600px;

        @include flex-row;
        justify-content: space-between;

        @media (max-width: 1050px) {
            width: 400px;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 20px;
        }

        @media (max-width: 725px) {
            justify-content: center;
            width: 100%;
            gap: 40px;

            a {
                text-align: center;
            }
        }
    }

    .eleventy {
        @media (max-width: 1050px) {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

        @media (max-width: 725px) {
            padding-top: 40px;
        }
    }
}

a[href^="http"]::after {
    background-image: url(/img/external-link.svg);
    background-size: contain;
    content:"";
    display: inline-block;
    vertical-align: sub;
    padding-left: 0.1em;

    @include sizeHW(1em, 1em);
}

.home {
    @include flex-column;
    align-items: center;
    justify-content: space-evenly;

    h1, h2 {
        letter-spacing: 0.3em;
        font-weight: 300;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.5em; 
        text-transform: uppercase;
    }

    @media (max-width: 400px) {
        img {
            @include sizeHW(300px, 275px);
        }
    }
}

#home-link {
    display: flex;
    align-items: center;
    font-size: 1.25em;

    img {
        padding-right: 1em;
    }
}

.error {
    @include flex-column;
    align-items: center;
    justify-content: center;
}