<!DOCTYPE html>
<html lang="{{ metadata.lang }}" class="dark">
{% include "head.njk" %}
<body>
    {% include "header.njk" %}
    {% block main %}{% endblock %}
    {% include "footer.njk" %}
</body>
</html>